/* basic styles */
body {
    margin: 0;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    background-color: white;
}
header {
    border-bottom:1px grey;

}
h1, h2, h3, h4, h5, h6, p{
    margin:0px;
    padding:0px;
  }
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    cursor:pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.uppercase {
    text-transform: uppercase;
}

/* navigation */
.nav-menu {
    padding: 15px 0;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    text-align:center;

  }
  /* Logo-1 */
  .nav-logo h3 {
      color: #e74c3c;
      font-weight: 300;
      font-size: 25px;
      line-height:1.3;
  }
  .nav-logo p {
      font-size: 14px;
      letter-spacing: 8px;
      text-transform: uppercase;
      padding-left: 10px;
      color: #34495e;
      font-weight: 600;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 18px;
    letter-spacing: 2px;
}
.nav-list-item {
    margin-right: 15px;
    max-height: 100%;
    
}
.nav-list-item:last-child { 
    margin-right:0;
}
.nav-list-item a{
    color: black;
}
.nav-list-item.active a {
    border-bottom:2px solid #444; 
    font-weight: bold;
}

/* hero */

.hero {
    background-image: url('./images/hero/bigstock-Beautiful-Brown-haired-Girl-Wi-412461868.jpg');
    background-size:cover;
    background-position: center;
    color: white;
    text-shadow: black 0.2em 0.2em 0.4em;
    /* text-align: center; */
    margin: 0 auto;
    padding: 118px 0;
    max-width: 100%;
    min-height: 400px;
}