* {box-sizing:border-box}

.card-container ul {
  padding: 0;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-slide, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.works-list {
  padding-botom: 30px;
  background-color: #f4f4f4;
}

.works-list h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card-container { 
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 20px 20px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1041px) {
  .card-container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
  }
  .card {
    margin: 10px;
  }
 


}

@media screen and (max-width: 998px) {
  .card-container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-around;

  }
  .card {
    margin: 10px;
  }
 


}

@media screen and (max-width: 754px) {
  .card-container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    justify-content: center;

  }
  .card {
    min-width: 80%;
    margin: 10px;
  }
 
}

